# C# build files
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.suo
*.user
*.csproj.user
*.csproj.vspscc
*.vbproj.vspscc
*.dbmdl
*.bak
*.Backup
*.log
*.tmp

# ASP.NET-specific
project.lock.json
project.fragment.lock.json
artifacts/
*.azurePubxml
*.publishsettings
*.pubxml
*.Publish.xml
App_Data/

# Entity Framework
*.edmx.diagram
*.edmx.sql

# Rider
.idea/
*.sln.iml

# JetBrains Rider의 DotCover 파일
*.dotCover

# NuGet
*.nupkg
*.snupkg
*.nuspec
packages/
project.assets.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Visual Studio 관련 무시 파일
.vs/
*.suo
*.user
*.vcxproj.user
*.pdb
*.ipch
*.log
*.tlog
*.idb
*.opendb
*.aps
*.ncb
*.ilk
*.VC.db

# 기타 OS 및 에디터
.DS_Store
Thumbs.db
*.swp